---
import { icons } from "../../components/React Components/Icons.jsx";
const ChevronRight = icons.chevronRight;
const ChevronLeft = icons.chevronLeft;

import { Image } from "astro:assets";
import "../../styles/global.css";
import { projects } from "../Data/projects.js";
import CarouselComponent from "../../components/React Components/carousel.jsx";
const { project } = Astro.params;
export function getStaticPaths() {
  return [
    { params: { project: "craft-tracker" } },
    { params: { project: "memory-game" } },
    { params: { project: "stardew-guide" } },
    { params: { project: "mock-blog" } },
    { params: { project: "to-do" } },
    { params: { project: "weather-app" } },
    { params: { project: "shopping-cart" } },
    { params: { project: "resume-builder" } },
  ];
}
const projectData = projects.find((p) => p.id === project);
if (!projectData) {
  throw new Error(`Project not found: ${project}`);
}
const projectIndex = projects.findIndex((p) => p.id === project);
const previousProject =
  projectIndex > 0 ? projects[projectIndex - 1] : projects[projects.length - 1];
const nextProject =
  projectIndex < projects.length - 1 ? projects[projectIndex + 1] : projects[0];
---

<div class="flex flex-col justify-center items-center
 mh-full scroll-link">
  <div class="flex flex-col w-full lg:flex-row">
    <div class="flex justify-center items-center lg:w-1/2">
      <Image
        src={projectData.view}
        class="border-terra-cotta rounded-lg min-w-xs max-w-lg h-auto m-8"
        alt="Project screenshot"
      />
    </div>
    <div
      class="p-5 flex flex-col justify-center items-center bg-sweet-cream lg:w-1/2 lg:mt-0"
    >
      <div class="px-5 max-w-xl">
        <div class="flex">
          <h1 class="text-2xl font-bold text-left w-full tracking-wide">
            {projectData.title}
          </h1>
          <button class="bg-terra-cotta p-1 rounded-md text-sweet-cream hover:bg-#A75C3A">GitHub</button>
        </div>

        <div class="justify-center items-center text-left w-full">
          <div class="flex my-7 ">
            {projectData.description}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="checkerboard-gradient w-full"></div>
  <div class="flex flex-col justify-center items-center pt-5 w-md lg:w-full">
    <div
      class="flex flex-col bg-sweet-cream rounded-lg p-8 m-5 lg:min-w-lg lg:max-w-4xl lg:flex-row"
    >
      <Image
        src={projectData.challengesImage}
        alt="Project screenshot"
        class="w-sm h-sm h-auto rounded-lg aspect-square lg:mr-6 border-2 border-terra-cotta"
      />

      <div>
        <h2 class="font-semibold text-terra-cotta text-lg mt-4 lg:mb-3 lg:mt-0">
          Challenges
        </h2>
        <div class="border-1 border-terra-cotta w-full"></div>
        <p class="flex  px-4 mt-3">{projectData.challenges}</p>
      </div>
    </div>

    <div
      class="flex flex-col bg-sweet-cream rounded-lg p-8 m-5 lg:min-w-lg lg:max-w-4xl"
    >
      <h2 class="font-semibold text-terra-cotta text-lg lg:mb-3">Takeaways</h2>
      <div class="border-1 border-terra-cotta w-full"></div>
      <p class="flex  px-4 my-3">{projectData.takeaways}</p>
    </div>
  </div>

  <div class="flex gap-2 p-10 mb-5">
    {
      previousProject ? (
        <a
          href={`/Project/${previousProject.id}`}
          class="flex bg-sweet-cream w-20 h-9 justify-center items-center pr-2 rounded-md hover:outline-2 hover:outline-terra-cotta text-sm"
        >
          <ChevronLeft size={25} stroke={1.5} />
          Back{" "}
        </a>
      ) : null
    }
    <a
      href="/"
      class="flex bg-sweet-cream w-15 h-9 justify-center items-center mx-2 rounded-md hover:outline-2 hover:outline-terra-cotta text-sm"
      >Exit
    </a>
    {
      nextProject ? (
        <a
          href={`/Project/${nextProject.id}`}
          class="flex bg-sweet-cream w-20 h-9 justify-center items-center pl-2 rounded-md hover:outline-2 hover:outline-terra-cotta text-sm"
        >
          {" "}
          Next <ChevronRight size={25} stroke={1.5} />
        </a>
      ) : null
    }
  </div>
</div>

<style>
    @font-face {
      font-family: "fancy";
      src: url("/src/assets//Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf")
        format("truetype");
    }

    body {
      font-family: "fancy";
    }
  
  body {
    background-size: 20px 20px; /* Size of the grid cells */
    background-image:
      linear-gradient(to right, #faf4e7 1px, transparent 1px),
      /* Vertical lines */
        linear-gradient(to bottom, #faf4e7 1px, transparent 1px); /* Horizontal lines */
  }

  .checkerboard-gradient {
    background-color: #ed9b83; /* Light color for the base */
    background-image: linear-gradient(45deg, #a75c3a 25%, transparent 25%),
      linear-gradient(-45deg, #a75c3a 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #a75c3a 75%),
      linear-gradient(-45deg, transparent 75%, #a75c3a 75%);
    background-size: 50px 50px; /* Size of each square in the pattern */
    background-position:
      0 0,
      0 25px,
      25px -25px,
      25px 0; /* Adjust positions for alignment */
    height: 50px;
  }
</style>
