---
import HeaderLayout from "../layouts/Header.astro";
import { Image } from "astro:assets";
import aboutMeImage from "../components/images/aboutMe.jpg";
import runningImage from "../components/images/running.jpeg";
import cincinnatiImage from "../components/images/cincinnati.jpeg";
import hobbies from "../components/images/hobbies.jpg";
import minis from "../components/images/minis.jpeg";
import "../styles/global.css";

const facts = [
  { A: "I am interested in", B: "Front End Web Design", id: "sec1" },
  { A: "I live in", B: "Cincinnati, Ohio", id: "sec2" },
  { A: "I have run", B: "four half marathons", id: "sec3" },
  { A: "I love all things", B: "miniature", id: "sec4" },
  { A: "I enjoy", B: "sewing, reading and being outside", id: "sec5" },
];

const factsDisplay = [
  {
    title: "Front End Web Design",
    id: "sec1",
    image: cincinnatiImage,
    alt: "Cincinnati skyline from Devou Park Overlook in Covington, KY",
    text: "Coming from a background in design, I have found my niche in front end web design. I enjoy the challenge of creating visually appealing yet function websites.",
  },
  {
    title: "Cincinnati",
    id: "sec2",
    image: cincinnatiImage,
    alt: "Cincinnati skyline from Devou Park Overlook in Covington, KY",
    text: "I moved to Cincinnati in 2018 and never left. I fell in love with the architecture, restaurants, and all the different neighborhoods. However, being from Michigan, I am still a Lions fan! ",
  },
  {
    title: "Running",
    id: "sec3",
    image: runningImage,
    alt: "Cincinnati Flying Pig Half Marathon finisher with medal",
    text: "My new years resolution in 2024 was to run a half marathon! 4 months later, I ran my first Flying Pig and have been addicted ever since. After completed 3 more half's, I have signed up for my first full in the fall.",
  },
  {
    title: "Miniatures",
    id: "sec4",
    image: minis,
    alt: "A varying collection of miniature items based off of real life products",
    text: "I have an extensive collection of miniature items that I collect and display. I also make miniature diaoramas that range from grocery stores to libraries and greenhouses. I am always keeping my eyes out for more!",
  },
  {
    title: "Hobbies",
    id: "sec5",
    image: hobbies,
    alt: "Me and my family playing pickleball at a local park",
    text: "In addition to running, I like to spend my free time sewing, reading and being outside. I love walking, biking, pickleball, swimming, and just about anything to get me outdoors. I also really enjoy cooking and taking care of my plants.",
  },
];
---

<HeaderLayout title="About Me">
  <!-- header -->
</HeaderLayout>
<div class="flex flex-col justify-center items-center
 mh-full scroll-link">
  <div class="flex flex-col w-full md:flex-row">
    <div class="flex justify-center items-center py-10 md:w-1/2">
      <Image
        src={aboutMeImage}
        class="w-sm h-auto border-2 border-terra-cotta rounded-2xl"
        alt="A photo of me in front of Lake Michigan"
      />
    </div>

    <div
      class="bg-sweet-cream p-5 flex flex-col border-s-2 border-terra-cotta md:w-1/2 md:mt-0"
    >
      <h1 class="text-2xl font-bold">Hi! My name is Maddie</h1>
      <div class="ml-5 justify-center items-center">
        {
          facts.map((fact) => (
            <div class="flex my-7">
              <p class="mr-1 text-md">{fact.A}</p>
              <button
                class=" hover:text-terra-cotta cursor-pointer scroll-link underline"
                data-id={fact.id}
              >
                {fact.B}
              </button>
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <div class="checkerboard-gradient w-full"></div>

  <div class="flex flex-col justify-center items-center w-full pt-5">
    {
      factsDisplay.map((p) => (
        <div
          id={p.id}
          class="flex flex-col shadow-md bg-sweet-cream rounded-lg p-5 m-5 md:flex-row md:max-w-5xl"
        >
          <Image
            src={p.image}
            alt={p.alt}
            class="max-w-2xs max-h-2xs h-auto rounded-lg aspect-square md:mr-6 border-2 border-terra-cotta"
          />
          <div class="flex flex-col w-full my-4">
            <h2 class="font-semibold text-terra-cotta mb-2 text-lg md:mb-5">{p.title}</h2>
            <p class="flex text-sm/8 max-w-2xs  md:max-w-sm ">{p.text}</p>
          </div>
        </div>
      ))
    }
  </div>
  <button
    data-id="header"
    class="mb-10 bg-green-light px-4 py-2 shadow-md rounded-md cursor-pointer scroll-link"
    data-id="header">Scroll to Top</button
  >
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".scroll-link").forEach((el) => {
      el.addEventListener("click", (event) => {
        const targetId = event.currentTarget.getAttribute("data-id");
        const target = document.getElementById(targetId);
        target?.scrollIntoView({ behavior: "smooth", block: "center" });
      });
    });
  });
</script>

<style>
  .checkerboard-gradient {
    background-color: #ed9b83; /* Light color for the base */
    background-image: linear-gradient(45deg, #a75c3a 25%, transparent 25%),
      linear-gradient(-45deg, #a75c3a 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #a75c3a 75%),
      linear-gradient(-45deg, transparent 75%, #a75c3a 75%);
    background-size: 50px 50px; /* Size of each square in the pattern */
    background-position:
      0 0,
      0 25px,
      25px -25px,
      25px 0; /* Adjust positions for alignment */
      height: 75px;
  }
</style>
