---
import HeaderLayout from "../layouts/Header.astro";
import { Image } from "astro:assets";
import aboutMeImage from "../components/images/aboutMe.jpg";
import runningImage from "../components/images/running.jpeg";
import cincinnatiImage from "../components/images/cincinnati.jpeg";
import hobbies from "../components/images/hobbies.jpg";
import minis from "../components/images/minis.jpeg";
import "../styles/global.css";

const facts = [
  { A: "I am interested in", B: "Front End Web Design", id: "sec1" },
  { A: "I live in", B: "Cincinnati, Ohio", id: "sec2" },
  { A: "I have run", B: "four half marathons", id: "sec3" },
  { A: "I love all things", B: "miniature", id: "sec4" },
  { A: "I enjoy", B: "sewing, reading and being outside", id: "sec5" },
];

const factsDisplay = [
  {
    title: "Front End Web Design",
    id: "sec1",
    image: cincinnatiImage,
    alt: "Cincinnati skyline from Devou Park Overlook in Covington, KY",
    text: "Coming from a background in design, I have found my niche in front end web design. I enjoy the challenge of creating visually appealing yet function websites.",
  },
  {
    title: "Cincinnati",
    id: "sec2",
    image: cincinnatiImage,
    alt: "Cincinnati skyline from Devou Park Overlook in Covington, KY",
    text: "I moved to Cincinnati in 2018 and never left. I fell in love with the architecture, restaurants, and all the different neighborhoods. However, being from Michigan, I am still a Lions fan! ",
  },
  {
    title: "Running",
    id: "sec3",
    image: runningImage,
    alt: "Cincinnati Flying Pig Half Marathon finisher with medal",
    text: "My new years resolution in 2024 was to run a half marathon! 4 months later, I ran my first Flying Pig and have been addicted ever since. After completed 3 more half's, I have signed up for my first full in the fall.",
  },
  {
    title: "Miniatures",
    id: "sec4",
    image: minis,
    alt: "A varying collection of miniature items based off of real life products",
    text: "I have an extensive collection of miniature items that I collect and display. It is somewhat of an unhealthy obsession but I love it! I also make miniature diaoramas that range from grocery stores to libraries and greenhouses. I am always keeping my eyes out for more!",
  },
  {
    title: "Hobbies!",
    id: "sec5",
    image: hobbies,
    alt: "Me and my family playing pickleball at a local park",
    text: "In addition to running, I like to spend my free time sewing, reading and being outside. I love walking, biking, pickleball, swimming, and just about anything to get me outdoors. I also really enjoy cooking and taking care of my plants.",
  },
];
---

<HeaderLayout title="About Me">
  <!-- header -->
</HeaderLayout>
<div
  class="flex flex-col justify-center items-center
 mh-full mt-5 scroll-link lg:mt-20"
>
  <div id="header"></div>

  <div class="flex flex-col lg:flex-row">
    <Image
      src={aboutMeImage}
      class="w-md h-auto shadow-md rounded-md lg:w-md"
      alt="A photo of me in front of Lake Michigan"
    />
    <div
      class="bg-gray-50 shadow-md rounded-lg p-5 max-w-5xl flex flex-col h-2/3 mt-5 lg:mt-0 lg:w-2/3 lg:ml-10"
    >
      <h1 class="text-2xl font-bold">Hi! My name is Maddie</h1>
      <div class="ml-5">
        {
          facts.map((fact) => (
            <div class="flex my-7">
              <p class="mr-1 text-md">{fact.A}</p>
              <button
                class="font-semibold hover:text-green cursor-pointer scroll-link"
                data-id={fact.id}
              >
                {fact.B}
              </button>
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center">
    {
      factsDisplay.map((p) => (
        <div
          id={p.id}
          class="m-20 flex flex-col shadow-md bg-gray-100 rounded-lg p-5 lg:flex-row lg:max-w-5xl"
        >
          <Image
            src={p.image}
            alt={p.alt}
            class="max-w-sm max-h-sm h-auto rounded-lg aspect-square lg:mr-6"
          />
          <div class="flex flex-col w-full my-4">
            <h2 class="font-semibold text-green mb-5 text-xl">{p.title}</h2>
            <p class="flex text-base max-w-sm  lg:max-w-sm">{p.text}</p>
          </div>
        </div>
      ))
    }
  </div>
  <button
    data-id="header"
    class="mb-10 bg-green-light px-4 py-2 shadow-md rounded-md cursor-pointer scroll-link"
    data-id="header">Scroll to Top</button
  >
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".scroll-link").forEach((el) => {
      el.addEventListener("click", (event) => {
        const targetId = event.currentTarget.getAttribute("data-id");
        const target = document.getElementById(targetId);
        target?.scrollIntoView({ behavior: "smooth", block: "center" });
      });
    });
  });
</script>
