---
import HeaderLayout from "../layouts/Header.astro";
import { Image } from "astro:assets";
import aboutMeImage from "../components/images/aboutMe.jpg";
import runningImage from "../components/images/running.jpeg";
import cincinnatiImage from "../components/images/cincinnati.jpeg";
import "../styles/global.css";

const facts = [
  { A: "I am interested in", B: "Front End Web Design", id: "sec1" },
  { A: "I live in", B: "Cincinnati, Ohio", id: "sec2" },
  { A: "I have run", B: "four half marathons", id: "sec3" },
  { A: "I love all things", B: "miniature", id: "sec4" },
  { A: "I enjoy", B: "sewing, reading and being outside", id: "sec5" },
];
---

<HeaderLayout title="About Me" cl>
  <!-- header -->
</HeaderLayout>
<div class="flex flex-col justify-center items-center
 mh-full mt-20">
  <div class="flex">
    <Image
      src={aboutMeImage}
      class="w-md h-auto"
      alt="A photo of me in front of Lake Michigan"
    />
    <div class="ml-10 mt-4">
      <h1 class="text-2xl font-bold">Hi! My name is Maddie</h1>
      <div class="ml-5">
        {
          facts.map((fact) => (
            <div class="flex my-7">
              <p class="mr-1">{fact.A}</p>
              <button
                class="font-semibold hover:text-green cursor-pointer scroll-link"
                data-id={fact.id}
              >
                {fact.B}
              </button>
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div id="sec1" class="m-20">Web Design</div>
    <div id="sec2" class="m-20 flex justify-center">
      <Image
        src={cincinnatiImage}
        class="w-60 h-auto ml-5 mr-6"
        alt="A photo of Cincinnati, Ohio"
      />
      <div class="w-1/2">
        <h2 class="font-semibold text-green mb-5 w-30%">Cincinnati</h2>
        I moved to Cincinnati in 2018 and never left. I fell in love with the architecture,
        restaurants, and the the differing personalities of the neighborhoods. However,
        I am still a Lions fan!
      </div>
    </div>
    <div id="sec3" class="m-20 flex">
      <div class="w-1/2 mr-6">
        My new years resolution in 2024 was to run a half marathon! 4 months
        later, I ran my first Flying Pig and have been addicted ever since.
        After completed 3 more half's, I have signed up for my first full in the
        fall.
      </div>
      <Image
        src={runningImage}
        class="w-60 h-auto ml-5"
        alt="A photo of me running a half marathon"
      />
    </div>
    <div id="sec4" class="m-20">Minis</div>
    <div id="sec5" class="m-20">Hobbies</div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".scroll-link").forEach((el) => {
      el.addEventListener("click", (event) => {
        const targetId = event.currentTarget.getAttribute("data-id");
        const target = document.getElementById(targetId);
        target?.scrollIntoView({ behavior: "smooth", block: "center" });
      });
    });
  });
</script>
