---
import "../styles/global.css";
import HeaderLayout from "../layouts/Header.astro";
import NavBar from "../layouts/NavBar.astro";
import { Image } from "astro:assets";
import aboutMeImage from "../components/images/homePage.png";
import css from "../components/images/SVG/css.svg";
import html from "../components/images/SVG/html.svg";
import js from "../components/images/SVG/js.svg";
import react from "../components/images/SVG/react.svg";
import tailwind from "../components/images/SVG/tailwind.svg";
import node from "../components/images/SVG/node.svg";
import { projects } from "../pages/Data/projects.js";
import github from "../components/images/SVG/github.svg";

import { icons } from "../components/React Components/Icons.jsx";
const resize = icons.resize;
const singlePage = icons.singlePage;

const aboutMe = [
  {
    title: "Why Front-End Development?",
    content:
      "After experimenting with both front-end and back-end programming, I decided to pursue front-end development. I found that front-end programming gave me the aspects of fashion design I really enjoyed - creating practical and aesthetic solutions, while also providing what fashion design lacked — advanced problem-solving and real-world application challenges. ",
  },
  {
    title: "My Journey",
    content:
      "I found that The Odin Project was the best resource to get me started. I completed their beginner course and most of their JavaScript course. Along the way, I learned the basics - starting simple using the command line to writing my first <div> tags - and progressed to building full applications complete with APIs and databases. I was also lucky to have a mentor help me throughout my journey and the knowledge I received is invaluable.",
  },
  {
    title: "What's Next?",
    content:
      "I want to be apart of a front-end development team working on projects",
  },
];

const skills = [
  { name: "HTML", icon: html },
  { name: "CSS", icon: css },
  { name: "JavaScript", icon: js },
  { name: "React", icon: react },
  { name: "Tailwind", icon: tailwind },
  { name: "Node.js", icon: node },
];
---

<!-- <HeaderLayout title="About Me">
</HeaderLayout>
<div class="flex flex-col justify-center items-center
 mh-full scroll-link">
  <div class="flex flex-col w-full md:flex-row">
    <div class="flex justify-center items-center py-10 md:w-1/2">
      <Image
        src={aboutMeImage}
        class="w-sm h-auto border-2 border-terra-cotta rounded-2xl"
        alt="A photo of me in front of Lake Michigan"
      />
    </div>

    <div
      class="p-5 flex flex-col justify-center items-center bg-sweet-cream border-s-2 border-terra-cotta md:w-1/2 md:mt-0"
    >
    <div class="px-5 max-w-xl">
      <h1 class="text-2xl font-bold text-left w-full">Hi! My name is Madison</h1>
      <div class="justify-center items-center text-left w-full">
        <div class="flex my-7 text-sm/8">
          I am a graduate of The University Of Cincinnati where I majored in
          Fashion Design and minored in Marketing. During my final year at
          school, I realized I craved more problem solving and functional
          applications in my work then fashion design was able to give me. After
          exploring programming, I quickly fell in love with the process and
          thinking required and have been learning ever since!
        </div>
      </div>
    </div>

    </div>
  </div>
  <div class="checkerboard-gradient w-full"></div>

  <div class="flex flex-col justify-center items-center w-full pt-5 ">
    {
      aboutMe.map((p) => (
        <div class="bg-sweet-cream rounded-lg p-8 m-5 min-w-md max-w-2xl ">
            <h2 class="font-semibold text-terra-cotta text-lg md:mb-3">
              {p.title}
            </h2>
            <div class="border-1 border-terra-cotta w-full"></div>
            <p class="flex text-sm/8 px-4 mt-3">{p.content}</p>
        </div>
      ))
    }
  </div>
</div> -->
<div class="checker-bg text-lg">
  <div class="w-full min-h-screen">
    <div
      class="flex flex-col w-full justify-center items-center md:flex-row bg-pale-pink p-5"
    >
      <div class="p-5 flex justify-center p-auto items-stretch">
        <div class="flex flex-col grow px-5 w-xl max-w-xl p-5">
          <div>
            <h1 class="text-3xl font-bold text-left w-full mb-1">
              Hi! I'm Madison
            </h1>
            <div class="flex text-md/8 mb-2">
              Front-End Web Developer based in Cincinnati, Ohio.
            </div>
            <div
              class="flex checkerboard-small rounded-md justify-center items-center mx-auto"
            >
            </div>
          </div>
          <div class="flex flex-col grow justify-around mt-8">
            <div>
              <h2 class="text-md font-bold mb-1">About</h2>
              <p>
                I am a self-taught programmer with a passion for front-end
                development and design. I graduated from the University of
                Cincinnati with a degree in fashion design which gives me a
                unique perspective on combining creativity with technical
                problem-solving. Beyond coding, I've run five half and one full
                marathon, and enjoy traveling, reading, and cozy gaming in my
                free time.
              </p>
            </div>
            <div>
              <h2 class="text-md font-extrabold mb-1">My Journey</h2>
              <p>
                I began my journey with The Odin Project, completing the
                Foundations and JavaScript courses. Through this, I developed
                personal projects and discovered my passion for front-end web
                design. I am now eager to continue growing my skills and open to
                opportunities that will help me advance my career and learning.
              </p>
            </div>
          </div>
        </div>
        <div></div>
        <div class="flex justify-center items-center md:w-1/2">
          <Image
            src={aboutMeImage}
            class="w-sm h-auto border-2 border-terra-cotta rounded-xl"
            alt="A photo of me in front of Lake Michigan"
          />
        </div>
      </div>
    </div>
    <div>
      <div class="flex checkerboard-large justify-center items-center mx-auto">
      </div>
      <div class="flex justify-center my-10">
        <h2
          class="bg-pale-pink h-[50px] w-[270px] rounded-[50%] flex items-center justify-center shadow-sm font-bold"
        >
          My Projects
        </h2>
      </div>
      <div class="flex flex-col justify-center items-center">
        {
          projects.map((p) => (
            <div class="flex justify-center  bg-pale-pink p-5 m-2 rounded-sm items-stretch shadow-sm">
              <Image
                src={p.view}
                class="w-75 h-75  rounded-sm shadow-sm"
                alt="text"
              />
              <div class="ml-6 flex flex-col justify-between  ">
                <div class="flex flex-col max-w-lg">
                  <h2 class="font-bold my-2 ">{p.title}</h2>
                  <p>{p.description}</p>
                </div>
                <button class="flex bg-white p-1 rounded-sm mt-2 max-w-[90px] justify-center items-center shadow-sm">
                  <Image src={github} alt="Github logo" class="w-5 h-5 mr-1" />
                  Github
                </button>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="flex flex-col justify-center items-center">
      <div class="flex justify-center my-10">
        <h2
          class="bg-pale-pink h-[50px] w-[270px] rounded-[50%] flex items-center justify-center shadow-sm font-bold"
        >
          My Skills
        </h2>
      </div>
      <div class="flex">
        {
          skills.map((p) => (
            <Image
              src={p.icon}
              class="w-20 h-20 bg-white p-2 rounded-sm m-2 border-2 border-terra-cotta"
              alt={p.name}
            />
          ))
        }
      </div>
    </div>

      <div class="flex justify-center my-10">
        <h2
          class="bg-pale-pink h-[50px] w-[270px] rounded-[50%] flex items-center justify-center shadow-sm font-bold"
        >
          Let's Connect!
        </h2>
      </div>
  </div>

  <style>
    .checkerboard-small {
      background-color: #ed9b83; /* Light color for the base */
      background-image: linear-gradient(45deg, #a75c3a 25%, transparent 25%),
        linear-gradient(-45deg, #a75c3a 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #a75c3a 75%),
        linear-gradient(-45deg, transparent 75%, #a75c3a 75%);
      background-size: 50px 50px; /* Size of each square in the pattern */
      background-position:
        0 0,
        0 25px,
        25px -25px,
        25px 0; /* Adjust positions for alignment */
      height: 10px;
    }

    .checkerboard-large {
      background-color: #ed9b83; /* Light color for the base */
      background-image: linear-gradient(45deg, #a75c3a 25%, transparent 25%),
        linear-gradient(-45deg, #a75c3a 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #a75c3a 75%),
        linear-gradient(-45deg, transparent 75%, #a75c3a 75%);
      background-size: 50px 50px; /* Size of each square in the pattern */
      background-position:
        0 0,
        0 25px,
        25px -25px,
        25px 0; /* Adjust positions for alignment */
      height: 50px;
    }

    .checker-bg {
      background-size: 20px 20px; /* Size of the grid cells */
      background-image: linear-gradient(to right, #FAF4E7 1px, transparent 1px),
        linear-gradient(to bottom, #faf4e7 1px, transparent 1px);
    }
  </style>

  <style>
    @font-face {
      font-family: "simple";
      src: url("/src/assets/Lexend/Lexend-VariableFont_wght.ttf")
        format("truetype");
    }

    @font-face {
      font-family: "fancy";
      src: url("/src/assets//Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf")
        format("truetype");
    }

    body {
      font-family: "fancy";
    }
  </style>
</div>
