---
import "../styles/global.css";
import { Image } from "astro:assets";
import aboutMeImage from "../components/images/homePage.png";
import css from "../components/images/SVG/css.svg";
import html from "../components/images/SVG/html.svg";
import js from "../components/images/SVG/js.svg";
import react from "../components/images/SVG/react.svg";
import tailwind from "../components/images/SVG/tailwind.svg";
import node from "../components/images/SVG/node.svg";

import { projects } from "../pages/Data/projects.js";
import Projects from "./React Components/Project";

import { icons } from "../components/React Components/Icons.jsx";

const Copy = icons.copy;

const aboutMe = [
  {
    title: "Why Front-End Development?",
    content:
      "After experimenting with both front-end and back-end programming, I decided to pursue front-end development. I found that front-end programming gave me the aspects of fashion design I really enjoyed - creating practical and aesthetic solutions, while also providing what fashion design lacked — advanced problem-solving and real-world application challenges. ",
  },
  {
    title: "My Journey",
    content:
      "I found that The Odin Project was the best resource to get me started. I completed their beginner course and most of their JavaScript course. Along the way, I learned the basics - starting simple using the command line to writing my first <div> tags - and progressed to building full applications complete with APIs and databases. I was also lucky to have a mentor help me throughout my journey and the knowledge I received is invaluable.",
  },
  {
    title: "What's Next?",
    content:
      "I want to be apart of a front-end development team working on projects",
  },
];

const skills = [
  { name: "HTML", icon: html },
  { name: "CSS", icon: css },
  { name: "JavaScript", icon: js },
  { name: "React", icon: react },
  { name: "Tailwind", icon: tailwind },
  { name: "Node.js", icon: node },
];
---

<div class="checker-bg text-lg">
  <!-- Big Screen -->
  <div class="hidden lg:block">
    <div
      class="flex flex-col w-full justify-center items-center md:flex-row bg-pale-pink"
    >
      <div class="p-5 flex justify-center p-auto items-stretch">
        <div class="flex flex-col grow px-5 w-xl max-w-xl p-5">
          <div>
            <h1 class="text-3xl font-bold text-left w-full mb-1">
              Hi! I'm Madison
            </h1>
            <div class="flex text-md/8 mb-2">
              Front-End Web Developer based in Cincinnati, Ohio.
            </div>
            <div
              class="flex checkerboard-small rounded-md justify-center items-center mx-auto"
            >
            </div>
          </div>
          <div class="flex flex-col grow justify-around mt-5">
            <div>
              <h2 class="text-md font-bold mb-1">About</h2>
              <p>
                I am a self-taught programmer with a passion for front-end
                development and design. I graduated from the University of
                Cincinnati with a degree in fashion design which gives me a
                unique perspective on combining creativity with technical
                problem-solving. Beyond coding, I've run five half and one full
                marathon, and enjoy traveling, reading, and cozy gaming in my
                free time.
              </p>
            </div>
            <div>
              <h2 class="text-md font-extrabold mb-1">My Journey</h2>
              <p>
                I began my journey with The Odin Project, completing the
                Foundations and JavaScript courses. Through this, I developed
                personal projects and discovered my passion for front-end web
                design. I am now eager to continue growing my skills and open to
                opportunities that will help me advance my career and learning.
              </p>
            </div>
          </div>
        </div>

        <div class="flex justify-center items-center md:w-1/2">
          <Image
            src={aboutMeImage}
            class="w-sm h-auto border-2 border-terra-cotta rounded-xl"
            alt="A photo of me in front of Lake Michigan"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile Screen -->
  <div class="block lg:hidden">
    <div class="flex w-full justify-center items-center bg-pale-pink">
      <div class="flex flex-col grow w-xl max-w-xl p-10">
        <div>
          <h1 class="text-3xl font-bold text-left w-full mb-1">
            Hi! I'm Madison
          </h1>
          <div class="flex text-md/8 mb-2">
            Front-End Web Developer based in Cincinnati, Ohio.
          </div>
          <div
            class="flex checkerboard-small rounded-md justify-center items-center mx-auto mb-8"
          >
          </div>
        </div>
        <div class="flex justify-center items-center">
          <Image
            src={aboutMeImage}
            class="w-sm h-auto border-2 border-terra-cotta rounded-xl mb-5"
            alt="A photo of me in front of Lake Michigan"
          />
        </div>
        <div class="flex flex-col grow justify-around mt-5">
          <div>
            <h2 class="text-md font-bold mb-1">About</h2>
            <p class="mb-3">
              I am a self-taught programmer with a passion for front-end
              development and design. I graduated from the University of
              Cincinnati with a degree in fashion design which gives me a unique
              perspective on combining creativity with technical
              problem-solving. Beyond coding, I've run five half and one full
              marathon, and enjoy traveling, reading, and cozy gaming in my free
              time.
            </p>
          </div>
          <div>
            <h2 class="text-md font-extrabold mb-">My Journey</h2>
            <p class="mb-6">
              I began my journey with The Odin Project, completing the
              Foundations and JavaScript courses. Through this, I developed
              personal projects and discovered my passion for front-end web
              design. I am now eager to continue growing my skills and open to
              opportunities that will help me advance my career and learning.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="checkerboard-small"></div> -->

  <div
    class="checkerboard-large w-xs mx-auto flex items-center justify-center rounded-md shadow-lg mt-20 mb-5"
  >
    <div
      class="bg-pale-pink flex items-center justify-center mx-auto text-xl py-1 px-8 h-[40px] w-xs mb-4 rounded-t-md font-bold"
    >
      Projects
    </div>
  </div>

  <Projects client:load projects={projects} />

  <div class="flex flex-col justify-center items-center my-15">
    <div
      class="checkerboard-large w-xs mx-auto flex items-center justify-center my-10 rounded-md shadow-lg"
    >
      <div
        class="bg-pale-pink flex items-center justify-center mx-auto text-xl py-1 px-8 h-[40px] w-xs mb-4 rounded-t-md font-bold"
      >
        Skills
      </div>
    </div>
    <div class="flex flex-wrap justify-center items-center">
      {
        skills.map((p) => (
          <Image
            src={p.icon}
            class="w-20 h-20 bg-pale-pink shadow-sm p-2 rounded-sm m-2"
            alt={p.name}
          />
        ))
      }
    </div>
  </div>

  <div class="flex flex-col pb-15">
    <div
      class="checkerboard-large w-xs mx-auto flex items-center justify-center my-10 rounded-md shadow-lg"
    >
      <div
        class="bg-pale-pink flex items-center justify-center mx-auto text-xl py-1 px-8 h-[40px] w-xs mb-4 rounded-t-md font-bold"
      >
        Lets Connect!
      </div>
    </div>
    <div
      class="bg-pale-pink flex flex-col gap-2 justify-center items-center p-4 mx-auto shadow-sm rounded-sm mb-10"
    >
      <p class="text-center">
        I would love to get in touch! Please reach out directly to my email.
      </p>
      <div
        id="email-copy"
        class="relative flex justify-center items-center cursor-pointer select-none"
      >
        <Copy size={25} stroke={1.5} />
        <p class="ml-1 font-semibold hover:underline">madisonnowo@gmail.com</p>

        <span
          id="tooltip"
          class="absolute top-full mt-10 px-2 py-1 rounded-md bg-salmon text-sm opacity-0 pointer-events-none transition-all duration-300 shadow-md"
        >
          Copied!
        </span>
      </div>
    </div>
  </div>
</div>

<style>
  .checkerboard-small {
    background-color: #ed9b83; /* Light color for the base */
    background-image: linear-gradient(45deg, #a75c3a 25%, transparent 25%),
      linear-gradient(-45deg, #a75c3a 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #a75c3a 75%),
      linear-gradient(-45deg, transparent 75%, #a75c3a 75%);
    background-size: 50px 50px; /* Size of each square in the pattern */
    background-position:
      0 0,
      0 25px,
      25px -25px,
      25px 0; /* Adjust positions for alignment */
    height: 8px;
  }

  .checkerboard-large {
    background-color: #ed9b83; /* Light color for the base */
    background-image: linear-gradient(45deg, #a75c3a 25%, transparent 25%),
      linear-gradient(-45deg, #a75c3a 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #a75c3a 75%),
      linear-gradient(-45deg, transparent 75%, #a75c3a 75%);
    background-size: 50px 50px; /* Size of each square in the pattern */
    background-position:
      0 0,
      0 25px,
      25px -25px,
      25px 0; /* Adjust positions for alignment */
    height: 40px;
  }

  .checker-bg {
    background-size: 20px 20px; /* Size of the grid cells */
    background-image: linear-gradient(to right, #faf4e7 1px, transparent 1px),
      linear-gradient(to bottom, #faf4e7 1px, transparent 1px);
  }
</style>

<style>
  @font-face {
    font-family: "simple";
    src: url("/src/assets/Lexend/Lexend-VariableFont_wght.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "fancy";
    src: url("/src/assets//Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf")
      format("truetype");
  }

  body {
    font-family: "fancy";
  }
</style>

<script>
  const emailDiv = document.getElementById("email-copy");
  const tooltip = document.getElementById("tooltip");

  emailDiv.addEventListener("click", async () => {
    await navigator.clipboard.writeText("madisonnowo@gmail.com");

    // Show tooltip
    tooltip.classList.remove("opacity-0");
    tooltip.classList.add("opacity-100");

    // Hide again after 1.5s
    setTimeout(() => {
      tooltip.classList.add("opacity-0");
      tooltip.classList.remove("opacity-100");
    }, 1500);
  });
</script>
